<?xml version="1.0"?>

<launch>
        <!-- Start move_base (global and local cost maps and path planners) -->
    <node pkg="move_base" type="move_base" name="move_base" clear_params="true" output="screen">
        <remap from = "/cmd_vel" to="/tello/cmd_vel" />
        <!-- Top-level parameters -->
        <rosparam command="load" file="$(find tcc_tello)/config/move_base/move_base.yaml" />

        <!-- Costmaps parameters -->
        <rosparam ns="global_costmap" command="load" file="$(find tcc_tello)/config/move_base/costmap_common.yaml" />
        <rosparam command="load" file="$(find tcc_tello)/config/move_base/costmap_global.yaml" />
        <rosparam ns="local_costmap" command="load" file="$(find tcc_tello)/config/move_base/costmap_common.yaml" />
        <rosparam command="load" file="$(find tcc_tello)/config/move_base/costmap_local.yaml" />

        <!-- Planners parameters -->
        <rosparam command="load" file="$(find tcc_tello)/config/move_base/planner_global.yaml" />
        <rosparam command="load" file="$(find tcc_tello)/config/move_base/planner_local.yaml" />
    </node>
</launch>